//
// Dev Center UI
//


//
// TEMP
//

body {
	@include temp-space;
	background-color: $body-bg;
	&.dev-home {
		background-color: $palegray; 
	}
}

.center {
	text-align: center;
	margin: 0 auto;
}


.dev-home-intro {
	font-size: 150%;
}

// lock heights on top two panels - temp
//.dev-home-panel, .sdk-panel { height: 286px; }

.dev-home-head {
	color: $gray;
	font-size: 3em;
	font-weight: 300;
}

.head-wrap {
	background-color: $slategray;
	margin-top: -1.875em;
	margin-bottom: 1.5em;
	padding: 1em 0 0.5em 0;
	body.dev-home & {
		background-color: $palegray;
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}

.top-bar-section ul.left { background-color: $topbar-bg }
.top-bar-section input[type="search"] {
	font-size: 0.75em;
	border-radius: 1em;
	top: 0.8em;
	margin-left: 2em;
}

h3, h4 {
	font-weight: 400;
}

h6.step {
	color: $navyblue;
}


// Logo - from console

.logo {
float: left;
margin: 14px 0 0 16px;
}

.sprites-logo_white {
background: url("//assets.moovweb.net/moovplatform/console-prod/v143/images/sprites.png") no-repeat 0px -2288px;
width: 132px;
height: 18px;
}

//


li.name > h1 {
	float: left;
}

.top-bar .name h1 a {
	font-weight: 300;
	font-size: 20px;
	margin-top: -1px;
	padding-left: 8px;
}

.section-container.tabs > .section p.title {
	width: 25% !important;
	text-align: center;
}

.section-container.tabs > .section:nth-child(0) p.title {
left: 0;
}
.section-container.tabs > .section:nth-child(1) p.title {
left: 25%;
}
.section-container.tabs > .section:nth-child(2) p.title {
left: 50%;
}
.section-container.tabs > .section:nth-child(3) p.title {
left: 75%;
}

.section-container.tabs > .section > .content {
	padding: 2em;
}



.sdk-panel .center p {
	margin-bottom: 0.75em;
}