//
// Dev Center UI
//


//
// TEMP
//

body {
	@include temp-space;
	background-color: $body-bg;
	&.dev-home {
		background-color: $palegray; 
	}
}

.center {
	text-align: center;
	margin: 0 auto;
}


.dev-home-intro {
	font-size: 150%;
}

// lock heights on top two panels - temp
//.dev-home-panel, .sdk-panel { height: 286px; }

.dev-home-head {
	color: $gray;
	font-size: 3em;
	font-weight: 300;
}

.head-wrap {
	background-color: $slategray;
	margin-top: -1.875em;
	margin-bottom: 1.5em;
	padding: 1em 0 0.5em 0;
	body.dev-home & {
		background-color: $palegray;
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}

.top-bar-section input[type="search"] {
	font-size: 0.75em;
	border-radius: 1em;
	top: 0.8em;
}

h3, h4 {
	font-weight: 400;
}